.lists-list__template {
    border-radius: 5px;
    justify-content: center;
    min-width: 20%;
    max-width: min-content;
    margin: 0.5rem 0.5rem;
    padding: 0 0 1rem 0;
    background: #33ab9f;
    color: white;
}

.lists-list__header {
    font-size: 0.8rem;
    background: #00695f;
    border: 1px solid #00695f;
    color: #282c34;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.lists-list__list {
    padding: 0.5rem;
    margin: 1rem;
}

ul, li {
    list-style: none;
}

.form__input-add-item {
    font-size: 0.8rem;
    padding: 0.5rem;
    background: #009688;
    border-bottom: 1px #282c34;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}